image:
  - Visual Studio 2017
clone_folder: c:\projects\source
build_script:
- cmd: >-
    cd c:\projects\source

    git submodule update --init --recursive

    mkdir bld

    cd bld

    cmake c:\projects\source -G "Visual Studio 15"

    cmake --build . --config "Debug"

artifacts:
- path: 'c:\projects\source\bld\$(configuration)\*.exe'